@charset "utf-8";
/* CSS Document */
@font-face { font-family: Forgetica; src: url('assets/SansForgetica-Regular.otf'); }

body,
html {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	/*font-family: Forgetica, sans-serif;*/
	/*font-family: 'Megrim', cursive;*/
	font-family: 'Allerta Stencil', sans-serif;
	background-image: url(assets/skulls.png);
	background-repeat: repeat;
	/*background: rgb(26, 188, 156);
	background: -moz-linear-gradient(-45deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
    background: linear-gradient(135deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);*/
}

h1 {
	font-size: 24px;
	margin: 10px 0 0 0;
	font-weight: lighter;
	/* text-transform: uppercase; */
	color: #000000;
}

p {
	font-size: 12px;
    color: #333333;
}

span a {
	font-size: 18px;
	color: #000000;
	text-decoration: none;
	margin: 0 10px;
	transition: all 0.4s ease-in-out;
}

span a:hover {
    color: #ffffff;
}

.container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.avatar {
	width: 150px;
	height: 150px;
	box-sizing: border-box;
	border: 5px white solid;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

img {
    width: 100%;
    height: auto;
}

.content {
	width: 100%;
	max-width: 600px;
	padding: 20px 40px;
	box-sizing: border-box;
	text-align: center;
}

#footer {
    position: fixed;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    margin: 1% 0;
}

#footer p,
#footer p a {
    font-size: 12px;
    color: #fff;
}

#footer p span {
    opacity: .6;
}

#footer p a {
    opacity: .6;
}

#footer p a:hover {
    font-weight: bold;
    color: #fff;
    opacity: 1;
}

/* Float animation */
@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

/* Shine icons */
.icons span {
    animation: shine .2s ease-out 0s 1 normal forwards;
}

@keyframes shine {
    0%   { transform: translateY(3em); opacity: 0; }
    50%  { transform: translateY(-.5em); opacity: .5; }
    100% { transform: translateY(0em); opacity: 1; }
}

.icons span:nth-child(1) { animation-delay: 2.5s; }
.icons span:nth-child(2) { animation-delay: 2.55s; }
.icons span:nth-child(3) { animation-delay: 2.6s; }
.icons span:nth-child(4) { animation-delay: 2.65s; }
.icons span:nth-child(5) { animation-delay: 2.7s; }
.icons span:nth-child(6) { animation-delay: 2.75s; }
.icons span:nth-child(7) { animation-delay: 2.8s; }
.icons span:nth-child(8) { animation-delay: 2.85s; }
.icons span:nth-child(9) { animation-delay: 2.90s; }

/* Blink Text Cursor */
.typewrite > .wrap {
    animation: blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes blinkTextCursor {
    from { border-right-color: rgba(255,255,255,.75); }
    to   { border-right-color: transparent; }
}